/* .para-style{
    
    color: lime;
} */

/* .h1-style{
    color: white;
    background: #000;
    display: inline;
} */

.button{
    background:#3498db ;
    border: none;
    color:white;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;

}
.button_animation{
    box-shadow: rgb(248, 29, 0) 0px 20px 30px -10px;
}

